[submodule "crides-choc"]
	path = pcb/lib/choc
	url = https://github.com/ithinuel/choc.git
[submodule "madworm-ws2812b.pretty"]
	path = pcb/lib/WS2812B.pretty
	url = https://github.com/ithinuel/WS2812B.pretty.git
[submodule "sh1107"]
	path = vendor/sh1107-rs
	url = git@github.com:ithinuel/sh1107-rs.git
[submodule "rp2040-async-i2c"]
	path = vendor/rp2040-async-i2c
	url = git@github.com:ithinuel/rp2040-async-i2c.git
[submodule "rp-hal"]
	path = vendor/rp-hal
	url = https://github.com/rp-rs/rp-hal.git
[submodule "i2c-pio"]
	path = vendor/i2c-pio-rs
	url = https://github.com/ithinuel/i2c-pio-rs
[submodule "ws2812-pio"]
	path = vendor/ws2812-pio-rs
	url = https://github.com/ithinuel/i2c-pio-rs
[submodule "nostd_async"]
	path = vendor/nostd_async
	url = git@github.com:ithinuel/nostd_async.git
[submodule "keyberon"]
	path = vendor/keyberon
	url = git@github.com:ithinuel/keyberon.git
[submodule "boards"]
	path = vendor/boards
	url = git@github.com:rp-rs/rp-hal-boards.git
[submodule "usbd-human-interface-device"]
	path = vendor/usbd-human-interface-device
	url = git@github.com:dlkj/usbd-human-interface-device.git
[submodule "usbd-serial"]
	path = vendor/usbd-serial
	url = git@github.com:rust-embedded-community/usbd-serial.git
