[submodule "crides-choc"]
	path = pcb/lib/choc
	url = https://github.com/crides/choc.git
[submodule "madworm-ws2812b.pretty"]
	path = pcb/lib/WS2812B.pretty
	url = https://github.com/madworm/WS2812B.pretty.git
[submodule "sh1107"]
	path = vendor/sh1107-rs
	url = git@github.com:ithinuel/sh1107-rs.git
[submodule "rp2040-async-i2c"]
	path = vendor/rp2040-async-i2c
	url = git@github.com:ithinuel/rp2040-async-i2c.git
